@import '../../style/utils/vars';

h1,
p,
a {
  margin: 0;
}

body {
  background-color: $colorBlack;
}

.conteiner {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  margin: 0 auto;
  padding: 40px 0;

  @media (max-width: 1199px) {
    margin: 0 24px;
  }
}

.cart {
  &__link {
    display: flex;
    width: 50px;
    align-items: center;
    color: $colorWhite;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;

    &-svg {
      fill: $colorWhite;
      margin-bottom: 2px;
    }

    &:hover {
      color: $primaryCardButtonColor;

      .cart__link-svg {
        fill: $primaryCardButtonColor;
      }
    }
  }

  &__title {
    margin-top: 16px;
    margin-bottom: 32px;
    color: $colorWhite;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
  }

  &__flex {
    display: flex;
    gap: 16px;

    @media (max-width: 1199px) {
      flex-direction: column;
    }
  }

  &__item {
    flex-grow: 2;

    @media (max-width: 1199px) {
      flex-grow: 1;
    }
  }

  &__without {
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    height: 128px;
    background: $backgroundCardColor;
    color: $colorWhite;

    @media (max-width: 1199px) {
      flex-grow: 1;
    }
  }

  &__total {
    flex-grow: 2;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: $elementsBorderColor 1px solid;
    box-sizing: border-box;
    background-color: $disabledButtonColor;
    height: 200px;

    &-sum {
      color: $colorWhite;
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
      line-height: 41px;
    }

    &-text {
      margin-bottom: 25px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $secondaryTextColor;
    }

    &-line {
      width: 100%;
      border: 1px solid $elementsBorderColor;
    }

    &-link {
      width: 100%;
    }

    &-button {
      width: 100%;
      margin-top: 24px;
      height: 48px;
      background: $primaryCardButtonColor;
      color: $colorWhite;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      border: none;
      cursor: pointer;

      &:hover {
        background: $hoverCardButtonColor;
      }

      &:active {
        background: $selectedCardButtonColor;
      }

      &:disabled {
        cursor: default;
        background: $selectedCardButtonColor;
      }
    }
  }
}

.modal {
  &__text {
    margin-bottom: 20px;
    text-align: center;
    color: $primaryTextColor;
  }
  &__button-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__button {
    display: flex;
    flex-grow: 1;
    border: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: $defaultButtonColor;
    color: $primaryTextColor;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    width: 160px;
    cursor: pointer;

    &:hover {
      background: $hoverCardButtonColor;
    }

    &:active {
      background: $selectedCardButtonColor;
    }
  }
}