@import '../../style/utils/vars';

.phone-info__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: $colorWhite;
}

.visual {
  display: block;
  margin: 0 auto;

  @media (min-width: 640px) {
    display: flex;
    justify-content: space-between;
    gap: 64px;
  }

  &__container {
    &--photo {
      // background-color: green;
      margin-bottom: 40px;
      @media (min-width: 640px) {
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
      }
    }

    &--price {
      width: 100%;

      @media (min-width: 640px) {
        width: 430px;
      }
      @media (min-width: 720px) {
        width: 512px;
      }
    }
  }

  &__container-price {
    &--section {
      width: 100%;
      border-bottom: 1px solid $elementsBorderColor;
      padding: 24px 0;

      @media (min-width: 640px) {
        width: 200px;
      }

      @media (min-width: 720px) {
        width: 260px;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &--text {
      margin-bottom: 8px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $secondaryTextColor;
    }
  }
}

.photo {
  display: block;

  @media (min-width: 640px) {
    display: flex;
  }

  &__container {
    display: flex;
    align-items: center;
    width: 274px;
    height: 274px;

    @media (max-width: 640px) {
      margin: 0 auto 24px;
    }

    @media (min-width: 1200px) {
      width: 442px;
      height: 442px;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    height: 274px;
    @media (min-width: 1200px) {
      height: 442px;
    }
  }
}

.angles {
  display: flex;
  justify-content: center;
  gap: 10px;

  @media (min-width: 640px) {
    flex-direction: column;
  }

  &__container {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: transform $timeTransition;

    &:hover {
      transform: scale(1.1);
    }

    @media (min-width: 640px) {
      width: 45px;
      height: 45px;
    }

    @media (min-width: 1200px) {
      width: 80px;
      height: 80px;
    }
  }

  &__photo {
    display: block;
    margin: 0 auto;
    height: 50px;

    @media (min-width: 640px) {
      height: 45px;
    }

    @media (min-width: 1200px) {
      height: 78px;
    }
  }
}

.colors {
  &__container {
    display: flex;
  }

  &__color {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    transition: transform $timeTransition;

    &:hover {
      transform: scale(1.1);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__gold {
    border: 1px solid moccasin;
  }

  &__fill-gold {
    border-radius: 50%;
    background-color: moccasin;
    width: 100%;
    height: 100%;
  }

  &__white {
    border: 1px solid white;
  }

  &__fill-white {
    border-radius: 50%;
    background-color: white;
    width: 100%;
    height: 100%;
  }

  &__grey {
    border: 1px solid grey;
  }

  &__fill-grey {
    border-radius: 50%;
    background-color: grey;
    width: 100%;
    height: 100%;
  }

  &__black {
    border: 1px solid $elementsBorderColor;
  }

  &__fill-black {
    border-radius: 50%;
    background-color: $elementsBorderColor;
    width: 100%;
    height: 100%;
  }

  &__rosegold {
    border: 1px solid PeachPuff;
  }

  &__fill-rosegold {
    border-radius: 50%;
    background-color: PeachPuff;
    width: 100%;
    height: 100%;
  }

  &__silver {
    border: 1px solid silver;
  }

  &__fill-silver {
    border-radius: 50%;
    background-color: silver;
    width: 100%;
    height: 100%;
  }

  &__spacegray {
    border: 1px solid SlateGray;
  }

  &__fill-spacegray {
    border-radius: 50%;
    background-color: SlateGray;
    width: 100%;
    height: 100%;
  }

  &__green {
    border: 1px solid Aquamarine;
  }

  &__fill-green {
    border-radius: 50%;
    background-color: Aquamarine;
    width: 100%;
    height: 100%;
  }

  &__purple {
    border: 1px solid Thistle;
  }

  &__fill-purple {
    border-radius: 50%;
    background-color: Thistle;
    width: 100%;
    height: 100%;
  }

  &__red {
    border: 1px solid red;
  }

  &__fill-red {
    border-radius: 50%;
    background-color: red;
    width: 100%;
    height: 100%;
  }

  &__yellow {
    border: 1px solid yellow;
  }

  &__fill-yellow {
    border-radius: 50%;
    background-color: yellow;
    width: 100%;
    height: 100%;
  }

  &__midnightgreen {
    border: 1px solid DarkSlateGray;
  }

  &__fill-midnightgreen {
    border-radius: 50%;
    background-color: DarkSlateGray;
    width: 100%;
    height: 100%;
  }

  &__coral {
    border: 1px solid coral;
  }

  &__fill-coral {
    border-radius: 50%;
    background-color: coral;
    width: 100%;
    height: 100%;
  }
}

.capacities {
  &__capacity {
    display: inline-block;
    padding: 6px;
    margin-right: 8px;
    box-sizing: border-box;
    border: 1px solid $primaryTextColor;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $primaryTextColor;

    &:hover {
      color: $colorBlack;
      background-color: $primaryTextColor;
    }

    &--isActive {
      color: $colorBlack;
      background-color: $primaryTextColor;
    }
  }
}

.price-info {
  &__price {
    display: flex;
    margin: 8px 0;

    &-new {
      margin-right: 8px;
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
      line-height: 140%;
      color: $primaryTextColor;
    }

    &-old {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      text-decoration-line: line-through;
      color: $secondaryTextColor;
    }

    &__characteristics {
      display: flex;
      flex-direction: column;
      margin: 16px 0;
    }
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }

  &__char {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &-text {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $secondaryTextColor;
    }

    &-number {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $primaryTextColor;
    }
  }
}
