@import './../../style/utils/vars';

.shop {
  &__title {
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 22px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: #f1f2f9;
  }

  &__container {
    display: block;

    @media (min-width: 640px) {
      display: flex;
      gap: 16px;
    }
  }
}

.category {
  &__image-container {
    display: inline-block;
    margin-bottom: 24px;
    background-color: gray;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $primaryTextColor;
  }

  &__count {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $secondaryTextColor;
  }
}
