$colorBlack: #0f1121; 
$colorGray: #75767f;
$colorWhite: #f1f2f9;

$primaryBackground: #2a2932;

$primaryTextColor: #f1f2f9;
$secondaryTextColor: #75767f;

$backgroundCardColor: #161827;
$primaryCardButtonColor: #905bff;
$hoverCardButtonColor: #a378ff;
$selectedCardButtonColor: #323542;

$elementsBorderColor: #3b3e4a;

$defaultButtonColor: #323542;
$hoverButtonColor: #4a4d58;
$disabledButtonColor: #0f1121;

$timeTransition: 0.5s;

$tabletNumberColumns: 12;
$desktopNumberColumns: 24;
