
$colorBlack: #0f1121;
$colorGray: #75767f;
$colorWhite: #f1f2f9

$primaryBackground:#2A2932;

$primaryTextColor: #F1F2F9;
$secondaryTextColor: #75767F;

$backgroundCardColor: #161827;
$primaryCardButtonColor: #905BFF;
$hoverCardButtonColor: #A378FF;
$selectedCardButtonColor: #323542;

$elementsBorderColor: #3B3E4A;

$defaultButtonColor: #323542;
$hoverButtonColor: #4A4D58;
$disabledButtonColor: #0F1121;

$timeTransition: 0.5s;

$tabletNumberColumns: 12;
$desktopNumberColumns: 24;