@import '../../style/utils/vars.scss';

.card {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $backgroundCardColor;
  padding: 32px;
  height: 506px;
  width: 272px;
  max-width: 287px;
  border: 2px solid $backgroundCardColor;
  box-sizing: border-box;
  transition: border, border-radius $timeTransition;

  &:hover {
    border: 2px solid $elementsBorderColor;
    border-radius: 5px;
  }

  @media (max-width: 640px) {
    margin-bottom: 40px;
    height: 440px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image-container {
    height: 237px;
    margin: 0 auto 24px;
    border-radius: 15px;

    @media (max-width: 640px) {
      margin-bottom: 40px;
      height: 150px;
    }
  }

  &__image {
    display: block;
    max-height: 130px;
    margin: 0 auto;
    margin-bottom: 24px;

    @media (min-width: 640px) {
      max-height: 196px;
    }
  }

  &__name {
    font-weight: 400;
    font-size: 14px;
    color: $primaryTextColor;
    line-height: 21px;
  }

  &__price {
    display: flex;
    margin: 8px 0;

    &-new {
      margin-right: 8px;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;
      color: $primaryTextColor;
    }

    &-old {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      text-decoration-line: line-through;
      color: $secondaryTextColor;
    }
  }

  &__line {
    box-sizing: border-box;
    width: 100%;
    height: 0;
    border: 0.5px solid $elementsBorderColor;
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }

  &__char {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &-text {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $secondaryTextColor;
    }

    &-number {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $primaryTextColor;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    &-addCart {
      display: flex;
      flex-grow: 1;
      border: none;
      margin-right: 8px;
      justify-content: center;
      align-items: center;
      max-width: 160px;
      height: 40px;
      background-color: $primaryCardButtonColor;
      color: $primaryTextColor;
      font-family: 'Mont';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;

      &--added {
        background-color: $defaultButtonColor;
      }

      &:hover {
        background-color: $hoverCardButtonColor;
      }

      &:active {
        background-color: $selectedCardButtonColor;
      }
    }

    &-addList {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: $defaultButtonColor;
      text-decoration: none;
      background-image: url('../../icons/heart.svg');
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        background-color: $hoverButtonColor;
      }

      &--active {
        background-image: url('../../icons/fullHeart.svg');
      }
    }
  }
}
