p,
h1 {
  margin: 0;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #161827;
  padding: 32px;
  // width: 272px;
  height: 506px;

  &__image {
    // width: 208px;
    height: 196px;
    margin: 0 0 24px;
    border-radius: 15px;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    color: #f1f2f9;
    line-height: 21px;
  }

  &__price {
    display: flex;
    margin: 8px 0;

    &-new {
      margin-right: 8px;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;
      color: #f1f2f9;
    }

    &-old {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      text-decoration-line: line-through;
      color: #75767f;
    }
  }

  &__line {
    box-sizing: border-box;
    width: 208px;
    height: 0;
    border: 0.5px solid #3b3e4a;
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }

  &__char {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &-text {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #75767f;
    }

    &-number {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #f1f2f9;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    &-addCart {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 40px;
      background-color: #905bff;
      color: #f1f2f9;
      text-decoration: none;

      &:hover {
        background-color: #a378ff;
      }

      &:active {
        background-color: #323542;
      }
    }

    &-addList {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #323542;
      text-decoration: none;
      background-image: url('../../../public/icons/heart.svg');
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        background-color: #4a4d58;
      }

      &:active {
        background-image: url('../../../public/icons/fullHeart.svg');
      }
    }
  }
}
