@import '../../style/utils/vars.scss';

.phones-page {
  color: $colorWhite;

  &__title {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: $colorWhite;
    margin-bottom: 8px;
  }

  &__counterItem-container {
    margin-bottom: 40px;
  }
}
