.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
  box-sizing: border-box;

  @media (min-width: 640px) {
    padding: 0 24px;
  }

  @media (min-width: 1200px) {
    padding: 0 32px;
  }
}

main {
  background-color: #0f1121;
  flex-grow: 1;
  padding-top: 24px;

  @media (min-width: 640px) {
    margin-bottom: 84px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 100px;
  }
}
