@import '../../style/utils/vars';

.footer {
  background: $colorBlack;
  box-shadow: 0 0 0 1px #323542;
  width: 100%;
  padding: 32px 0;

  &__wrapper {
    gap: 32px;

    @media (min-width: 640px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    margin: 32px 0;

    @media (min-width: 640px) {
      display: flex;
      flex-direction: row;
      margin: 0;
    }

    @media (min-width: 1200px) {
      gap: 106px;
    }
  }

  &__list_link {
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;

    letter-spacing: 0.04em;
    text-decoration: none;
    text-transform: uppercase;

    color: $primaryTextColor;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    &__text {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      color: $secondaryTextColor;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background: $defaultButtonColor;
      cursor: pointer;
      transition: 300ms ease-in-out;
    }

    &__button:hover {
      background-color: $hoverButtonColor;
    }
  }
}
