@import './../../style/utils/vars';
@import '../../style/utils/mixins';

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &__icon {
    width: 600px;
    height: 500px;

    @include onMobile {
      width: 400px;
      height: 300px;
    }

    @include onDesktop {
      width: 600px;
      height: 500px;
    }
  }

  &__title {
    font-size: 18px;
    color: $colorGray;
  }
}
