@import '../../style/utils/vars.scss';

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px 0;

  &__home {
    &--image {
      vertical-align: middle;
    }
  }

  &__arrow {
    &--image {
      vertical-align: middle;
    }
  }

  &__link {
    color: $colorWhite;
    text-decoration: none;

    &--is-active {
      color: $colorGray;
    }
  }
}
