.item {
  display: flex;
  align-items: center;
  height: 128px;
  background: #161827;
  margin-bottom: 16px;

  &__remove {
    margin-left: 30px;
    text-decoration: none;
    color: #4a4d58;
  }

  &__image {
    margin: 0 35px;
    width: 66px;
    height: 66px;
  }

  &__conteiner {
    width: 336px;
  }

  &__title {
    margin-right: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #f1f2f9;
  }

  &__count {
    margin: 0 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #f1f2f9;
  }

  &__button {
    height: 32px;
    width: 32px;
    background: #323542;
    border: 1px solid #3b3e4a;
    color: #f1f2f9;
  }

  &__price {
    margin-left: 53px;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: #f1f2f9;
  }
}
