@import '../../../style/utils/vars';

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  height: 128px;
  background: $backgroundCardColor;
  margin-bottom: 16px;

  &__remove {
    border: none;
    background-color: $backgroundCardColor;
    fill: $hoverButtonColor;

    &:hover {
      fill: $colorWhite;
    }
  }

  &__image {
    width: 60px;
    height: 75px;
  }

  &__conteiner {
    width: 336px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $colorWhite;
  }

  &__counter {
    display: flex;
    align-items: center;
  }

  &__count {
    margin: 0 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $colorWhite;
  }

  &__button {
    height: 32px;
    width: 32px;
    background: $selectedCardButtonColor;
    border: 1px solid $selectedCardButtonColor;
    color: $colorWhite;

    &-svg {
      fill: $colorWhite;
      margin-top: 2px;
    }
  }

  &__price {
    width: 70px;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: $colorWhite;
  }
}

.unactive-button {
  background: $backgroundCardColor
}

.unactive-button-svg {
  fill: $hoverButtonColor;
}